/* Boilerplate */
html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/** MAIN **/
main {
  border: 1px solid black;
  width: 1000px;
  height: 600px;
  margin: 5rem auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
}

.start {
  width: 33%;
  height: 45px;
  width: 150px;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: helvetica, sans-serif;
}

.start:hover {
  color: red;
  font-style: italic;
}

/** NAV ARROWS **/
.arrow {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: black;
  text-transform: capitalize;
  color: white;
}

/* overlay */
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 450px;
  width: 750px;
  border: solid black 1px;
  background-color: white;
}

/* table */
table {

}

td {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 3rem;
  font-family: monospace;
}

td span {
  display: none;
}

.flipped {
  display: inline;
}

/* sidebar */
.sidebar {
  border: 1px solid black;
  display: flex;
  height: 410px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
  padding: 1rem;
  width: 250px;
}

.sidebar p {
  font-size: 2.25rem;
  text-align: center;
  white-space: pre-line;
}

.sidebar button {
  padding: 0.5rem;
  font-size: 2rem;

.gambler-game {
  /* display: block; */
}

.gambler-total {
  border: 1px solid black;
  height: 125px;
  width: 125px;
  font-size: 36pt;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.gambler-button {
  border: 1px solid black;
  font-size: 36pt;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.gambler-dice {
  display: flex;
}

.gambler-dice p {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: 36pt;
  text-align: center;
}
